*,
*::before
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;

    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

header.navbar-container {
    width: 100%;
    max-width: 1200px;
    padding-block: 1rem;
    margin-inline: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 9999;
}

header.navbar-container .nav-list {
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .logo img {
    width: 250px;
}

header.navbar-container .nav-list ul {
    padding-left: 0;

    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;

    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;

    transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: #779eb2;
    color: white;
}

main {
    display: flex;
    gap: 1.5rem;
    max-width: 1200px;
    margin-inline: auto;
    padding: 1rem;
}

main #content {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card, .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;

    padding: 20px;
}

.card2 img {
    width: 150px;
    height: 150px;
}

.card2 th, .card2 td {
    padding: 10px 40px;
}

main aside {
    flex: 1;
    position: relatives;
    inset-block: 0;
    inset-inline-end: 0;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

main aside img {
    width: auto;
    height: 200px;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;

        main aside {
            align-self: center;
        }
    }
}

@media screen and (max-width: 768px) {
    header.navbar-container {
        flex-direction: column;
    }

    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        column-gap: 0.5rem;
    }

    main {
        padding: 1rem 3rem;
        flex-direction: column;
    }

    main .content {
        flex-direction: column;
        gap: 2rem;
    }

    main aside {
        align-self: stretch;
    }
}


